body {
    background-color: #f4f4f4;
}

h1 {
    margin-bottom: 20px;
}

.task-description {
    white-space: pre-wrap; /* Umożliwia łamanie linii i zachowanie białych znaków */
}

.float-right {
    float: right;
}

.float-center {
    float: center;
}



